FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_APP_TOKEN=
DEEPSEEK_API_KEY=
DOUBAO_API_KEY=
QWEN_API_KEY=
WENXIN_API_KEY=
HONGSHOUZHI_ENDPOINT=http://127.0.0.1:8080
HONGSHOUZHI_DEVICE_ID=
ADB_PATH=C:\Android\platform-tools\adb.exe
